body{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
}
.form-task{
    display: flex;
    margin-bottom: 15px;
    gap: 7px;
    
}
.task-list{
    border: 2px solid rgb(209, 201, 201);
    padding: 10px;
    
}

.form-task input{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 2px;
    border-radius: 2px;
    text-align: center;
    padding: 6px;
    border: 2px solid blanchedalmond;
}
.task-list button{
float: right;
/* margin-bottom: %; */
/* display: flex; */
/* justify-content: flex-end; */
}
   
